@media all and (min-width: 480px) {

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
  }

  .Form form {
    margin: 0 auto;
    max-width: 320px;

  }
label{
  color:white;
}
h1{
  color:white;
}
button{
  margin-top: 10px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  transition: all ease-in-out 0.3s;
  background-color: #0b9cd9;
}

}
