.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
background-color: gray;
}
img{
  padding: 10px;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: red;
  background-color: yellow;
  margin-bottom: 8px;
}
.text-link {
  text-decoration: none;
  color: inherit;
}
